body {
    background: silver;
    /* background-image: url(../img/solo.png);
    background-repeat: no-repeat; */
    font-family: "Arial Black";
}

p {
    color: green;
    font-style: italic;
    font-family: "Monotype Corsiva";
}

h3, h4 {
    font-family: arial;
}

h3 {
    color: blue;
}

h4 {
    color: yellow;
}

li {
    font-size: 12px;
}

.nome {
    color:rgb(52, 63, 216);
}